<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduation Pictures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/photos.css'%}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href=""><img id="logo" src="{% static 'imgs/logo.png' %}" alt="SPD Logo"></a>
        </div>
        <div id="nav">
    <a href=""><h2>Home</h2></a>
    <a href="/menu"><h2>Menu</h2></a>
    <a href="/reviews"><h2>Reviews</h2></a>
    <a href="/photos"><h2>Photo Gallery</h2></a>
    <a href="/contact"><h2>Contact</h2></a>
    <a href="/order"><h2>Order</h2></a>
        </div>
        <h1>Graduation</h1>
        <div class="container">
            <!-- Close the image -->
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
          
            <!-- Expanded image -->
            <img id="expandedImg" style="width:50%">
          
            <!-- Image text -->
            <div id="imgtext"></div>
          </div>
        <div class="row">
            <div class="column">
                <img src="{% static 'imgs/2020_grad.jpeg' %}" alt="Puzzle Cookies" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/canton.jpeg' %}" alt="Snow" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/canton_2020.jpeg' %}" alt="Mountains" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/CSU_2024.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/GL_grad.jpeg' %}" alt="Puzzle Cookies" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/hope_ava.jpeg' %}" alt="Snow" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/Miami_Grad.jpeg' %}" alt="Mountains" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/Mich_2020.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/Mich_grad.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/MSU.jpeg' %}" alt="Snow" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/MSU_cupcakes.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/MSUDIY.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/nville_2020.jpeg' %}" alt="Mountains" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/OklaState.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/ply_bgsu.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/ply_box.jpeg' %}" alt="Mountains" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/plymouth_box_grad.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/PlymouthHS.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/salem_2020.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/salem_grad.jpeg' %}" alt="Mountains" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/SVSU_grad.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="{% static 'imgs/puzzle_2020.jpeg' %}" alt="Lights" onclick="myFunction(this);">
            </div>
        </div>
      
      </div>
      <script>
        function myFunction(imgs) {
          // Get the expanded image
          var expandImg = document.getElementById("expandedImg");
          // Get the image text
          var imgText = document.getElementById("imgtext");
          // Use the same src in the expanded image as the image being clicked on from the grid
          expandImg.src = imgs.src;
          // Use the value of the alt attribute of the clickable image as text inside the expanded image
          expandImg.parentElement.style.display = "block";
        }
      </script>
    </body>
    </html>