<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Petite Designs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<div id="wrapper">
    <div id="header">
    <h1>Welcome to Sweet Petite Designs</h1>
    </div>
    <div id="nav">
<h2><a href="">Home</a></h2>
<h2><a href="/menu">Menu</a></h2>
<h2><a href="/reviews">Reviews</a></h2>
<h2><a href="/photos">Photo Gallery</a></h2>
<h2><a href="/contact">Contact</a></h2>
<h2><a href="/order">Order</a></h2>
    </div>
    <div id="main">
        <div id="top_left">
            <h3>Main Info</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad non molestias sit quidem. Nam nisi deleniti voluptatum adipisci minima amet similique, quibusdam nesciunt voluptatem provident in repellendus saepe! Enim, odio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus saepe eos, quas, aperiam ipsum soluta enim at modi odio, labore iure obcaecati. Voluptates eum, repellendus recusandae officia minus totam!</p>
        </div>
        <div id="top_right">
            <img src="" alt="Slideshow of Baked Goods">
        </div>
    </div>
    <div id="footer">

    </div>
</div>
</body>
</html>