<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Petite Designs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.png' %}">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <a href=""><img id="logo" src="{% static 'imgs/logo.png' %}" alt="SPD Logo"></a>
    </div>
    <div id="nav">
        <a href=""><h2 style="background-color:#adcf9d">Home</h2></a>
        <a href="/menu"><h2>Menu</h2></a>
        <a href="/reviews"><h2>Reviews</h2></a>
        <a href="/photos"><h2>Photo Gallery</h2></a>
        <a href="/contact"><h2>Contact</h2></a>
        <a href="/blog"><h2>Blog</h2></a>
        <a href="/order"><h2>Order</h2></a>
    </div>
        <div id="welcome">
            <h1 style="text-align: center;">Welcome to <span style="color:#93c47d"> Sweet Petite Designs</span>. Your one stop shop for any delicious home made baked goods!</h1>
        </div>
    <div id="slideshow">
        <img class="mySlides" src="{% static 'imgs/Christmas.jpg' %}">
        <img class="mySlides" src="{% static 'imgs/heart_box.jpeg' %}">
        <img class="mySlides" src="{% static 'imgs/hearts.jpeg' %}">
        <img class="mySlides" src="{% static 'imgs/puzzle_2020.jpeg' %}">
    </div>
        <div id="aboutme">
            <h1 style="border-bottom: black 2px solid;">My Welcome</h1>
            <img src="{% static 'imgs/megan.jpeg' %}" alt="Jane">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quas voluptates possimus expedita deserunt, molestiae, architecto rerum consequatur illum enim facere, ab amet eaque dicta sequi maiores nobis delectus accusamus.</p>
        </div>
        <div id="best">
            <h1 style="text-align:center; border-bottom:black 2px solid;">Seasonal and Best Sellers</h1>
            <div id="sellers">
                {% for good in goods %}
                {% if good.best_seller == True %}
                <div id="goods">
                    <h3><a href="/good/{{good.id}}" style="color:black;">{{good.name}}</h3>
                    <img src="{{good.picture.url}}" alt="{{good.name}}" style="width: 75%;"></a>
                    <p>{{good.description}}</p>
                </div>
                {% endif %}
                {% endfor %}
        
            </div>
        </div>
    <div id="footer">
        <p>Connect with us: <a href="https://www.instagram.com/sweetpetite_designs/" target="_blank"><img src="{% static 'imgs/instagram.png' %}" alt='instagram' style="width: 50px; height: 50px;"></a> <a href="https://www.facebook.com/sweetpetitedesigns1/" target="_blank"><img src="{% static 'imgs/facebook.png' %}" alt="facebook" style="width: 50px; height: 50px;"></a></p>
    </div>
</div>
<script>
    var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>
</body>
</html>