<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Petite Designs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
</head>
<body>
<div id="wrapper">
    <div id="header">
        <a href=""><img id="logo" src="{% static 'imgs/logo.png' %}" alt="SPD Logo"></a>
    </div>
    <div id="nav">
<a href=""><h2 style="background-color:#797979">Home</h2></a>
<a href="/menu"><h2>Menu</h2></a>
<a href="/reviews"><h2>Reviews</h2></a>
<a href="/photos"><h2>Photo Gallery</h2></a>
<a href="/contact"><h2>Contact</h2></a>
<a href="/blog"><h2>Blog</h2></a>
<a href="/order"><h2>Order</h2></a>
    </div>
    <div id="main">
        <div id="best">
            <h1 style="text-align:center; border-bottom:black 2px solid;">Best Sellers</h1>
            {% for good in goods %}
            <img src="{{good.picture.url}}" alt="Pictures">
            {% endfor %}
        </div>
    </div>
    <div id="footer">
<p>Connect with us: <a href="https://www.instagram.com/sweetpetite_designs/" target="_blank"><img src="{% static 'imgs/instagram.png' %}" alt='instagram' style="width: 50px; height: 50px;"></a> <a href="https://www.facebook.com/sweetpetitedesigns1/" target="_blank"><img src="{% static 'imgs/facebook.png' %}" alt="facebook" style="width: 50px; height: 50px;"></a></p>
    </div>
</div>
<script>

</script>
</body>
</html>