<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/"><img id="logo" src="{% static 'imgs/logo.png' %}" alt="SPD Logo"></a>
        </div>
        <div id="nav">
    <a href="/"><h2>Home</h2></a>
    <a href="/menu"><h2 style="background-color:#797979">Menu</h2></a>
    <a href="/reviews"><h2>Reviews</h2></a>
    <a href="/photos"><h2>Photo Gallery</h2></a>
    <a href="/contact"><h2>Contact</h2></a>
    <a href="/order"><h2>Order</h2></a>
        </div>
            <div id="menu">
                {% for good in goods %}
                <h3>{{good.name}}</h3>
                <p>Description: {{good.description}}</p>
                <p>Price: ${{good.price}}.00/dozen</p>
                {% endfor %}
            </div>
        </div>
</body>
</html>