<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/"><img id="logo" src="{% static 'imgs/logo.png' %}" alt="SPD Logo"></a>
        </div>
        <div id="nav">
    <a href="/"><h2>Home</h2></a>
    <a href="/menu"><h2>Menu</h2></a>
    <a href="/reviews"><h2>Reviews</h2></a>
    <a href="/photos"><h2>Photo Gallery</h2></a>
    <a href="/contact"><h2>Contact</h2></a>
    <a href="/blog"><h2>Blog</h2></a>
    <a href="/order"><h2 style="background-color:#797979">Order</h2></a>
        </div>
        {% for good in goods %}
        <p>{{good.name}}</p>
        <p>${{good.price}}.00 per dozen</p>
        <img src="{{good.picture.url}}" alt="{{good.name}}" style="width:200px; height: 200px;">
        {% endfor %}
        <button id="checkout-button">Checkout</button>
    </div>
</body>
</html>