* {box-sizing:border-box}

div#wrapper{
    padding: 5px;
    background-color: #797979;	
}

#logo{
    margin-left: 36%;
}

h2{
    display: inline-block;
    width: 10%;
    text-align: center;
    border: #93c47d 2px solid;
    border-radius: 5px;
    background-color: #93c47d;
    color:black;
}

h2:hover{
  background-color: #797979;
}

a{
    text-decoration: none;
    color: white;
}

div#nav{
    text-align: center;
    background-color: #bab2b5;
    border-radius: 10px;
}

div.dropdown{
    display: inline-block;
}

/* Dropdown button */
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

div#top_left{
    display: inline-block;
    width: 40%;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}

div#top_right{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    margin-left: 5%;
    width: 50%;
}

img#meg{
    width:50%;
    margin-left:20%;
    border-radius: 50%;
}

