* {box-sizing:border-box}

div#wrapper{
    padding: 5px;
    background-color:white;	
}

#logo{
    margin-left: 36%;
}

h2{
    display: inline-block;
    width: 10%;
    text-align: center;
    border: white 2px solid;
    border-radius: 5px;
    background-color: white;
    color:black;
}

h2:hover{
  background-color: #adcf9d;
}

a{
    text-decoration: none;
    color: white;
}

div#nav{
    text-align: center;
    background-color: #93c47d;
    border-radius: 10px;
    margin-bottom: 10px;
}

#products{
    margin: 15px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #bab2b5;
    border-radius: 10px;
    display: inline-block;
    width: 23%;
}

#number{
    width:10%;
}

#cart{
    display: block;
    margin-left: 90%;
}

#checkout-button{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

#checkout-button:hover{
    background-color: #93c47d;
}

#cart_button{
    border-radius: 5px;
    font-size: 15px;
}

#cart_button:hover{
    background-color: #93c47d;
}