div#wrapper{
    padding: 5px;
    background-color:white;	
}

#logo{
    margin-left: 36%;
}

h2{
    display: inline-block;
    width: 10%;
    text-align: center;
    border: white 2px solid;
    border-radius: 5px;
    background-color: white;
    color:black;
}

h2:hover{
  background-color: #adcf9d;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 25px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
    color: black;
}

div#nav{
    text-align: center;
    background-color: #93c47d;
    border-radius: 10px;
    margin-bottom: 10px;
}

div#top_left{
    display: inline-block;
    width: 38%;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    background-color: #bab2b5;
    text-align: center;
    border-radius: 5px;
    margin-left: 8%;
    margin-top: 3%;
}

div#review_form{
    display: inline-block;
    vertical-align: top;

    margin-left: 7%;
    margin-top: 20px;
}

    

#form{
    text-align: center;
    background-color: #bab2b5;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#pic{
    display: inline-block;
    text-align: center;
}